@charset "UTF-8";

article {
    width: 80vw;

    display: flex;
    justify-content: space-evenly;
}

div#direita {
    background: blue linear-gradient(115deg, blue, purple);
    color: white;

    width: 40%;
    height: 560px;
    padding: 20px;
    
    margin-top: 150px;
    border-radius: 40px;

    position: sticky;
    top: 3%;
}

div#direita img {
    width: 100%;
    border-radius: 10px;
}

form {
    width: 60vw;
    max-width: 650px;
    margin: auto;
}

article header {
    margin-bottom: 30px;
}

fieldset {
    padding: 30px;

    margin: 20px;
    border-radius: 40px;
}

legend {
    color: #888888;
    font-weight: bold;
}

fieldset#sexo {
    width: 30%;
    padding: 8px;

    border-radius: 4px;
}

fieldset#usuario Input {
    width: 90%;
}

fieldset#endereco Input {
    width: 90%;
}

Input, textarea {
    background-color: rgb(255, 255, 255);

    padding: 7px;
    margin: 5px;

    border-radius: 4px;
}

textarea {
    width: 95%;
    resize: vertical;
}

input.text {
    border-radius: 4px 4px 0px 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

input:hover, textarea:hover {
    background-color: rgb(223, 223, 223);
}

div#submit > input {
    width: 60vw;
    height: 40px;
    border-radius: 20px;
    
    margin-left: -20%;

    cursor: pointer;
}