@charset "UTF-8";

ul#album-fotos {
    width: 800px;
    
    padding: 50px;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
}

ul#album-fotos li {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);

    width: 200px;
    height: 200px;

    display: flex;
    align-items: flex-end;

    float: left;
    border: 5px solid white;
    margin: 10px;
}

ul#album-fotos li:hover {
    transition: .7s all;
    scale: 1.3;
}

ul#album-fotos li > span {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    opacity: 0;

    padding: 5px;
    margin-bottom: 5px;

    font-size: 0.8em;
    text-shadow: 1px 1px 1px black;
}

ul#album-fotos li:hover span {
    transition-duration: .5s;
    opacity: 1;
}

ul#album-fotos li:hover:nth-child(span:hover) {
    transition-duration: .3;
    opacity: 100%;
}

ul#album-fotos li#foto01 {
    background: url('../../imagens/') center;
    background-size: cover;
}

ul#album-fotos li#foto01:hover {
    background-position: 0;
    background-size: 50% 50%;
}

ul#album-fotos li#foto02 {
    background: url('../../imagens/') center;
    background-size: cover;
}

ul#album-fotos li#foto02:hover {
    background-position: 0;
    background-size: 50% 50%;
}

ul#album-fotos li#foto03 {
    background: url('../../imagens/') center;
    background-size: cover;
}

ul#album-fotos li#foto03:hover {
    background-position: 0;
    background-size: 50% 50%;
}

ul#album-fotos li#foto04 {
    background: url('../../imagens/') center;
    background-size: cover;
}

ul#album-fotos li#foto04:hover {
    background-position: 0;
    background-size: 50% 50%;
}

ul#album-fotos li#foto05 {
    background: url('../../imagens/') center;
    background-size: cover;
}

ul#album-fotos li#foto05:hover {
    background-position: 0;
    background-size: 50% 50%;
}

ul#album-fotos li#foto06 {
    background: url('../../imagens/') center;
    background-size: cover;
}

ul#album-fotos li#foto06:hover {
    background-position: 0;
    background-size: 50% 50%;
}