@charset "UTF-8";

article {
    width: 80vw;
}

div#container {
    background-color: rgb(65, 65, 65);
    width: 100vw;
    margin-left: -10vw;
}

div#tv-radio {
    width: 100vw;
    height: 675px;

    margin-top: 30px;

    position: relative;
}

div#tv-radio > iframe {
    width: 440px;

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div#musica {
    display: block;
    width: 100vw;

    display: flex;
    justify-content: center;

    padding: 20px;
}