@charset "UTF-8";

div#tv-radio {
    background: url('../../imagens/radio-tv.png') center no-repeat;
    width: 80vw;
    height: 580px;

    margin: auto;

    position: relative;
}

div#tiv-radio iframe {
    width: 440px;

    position: absolute;
    top: 85px;
    left: 90px;
}

audio#musica {
    display: block;

    position: absolute;
    top: 500px;
    left: 575px;
}