@charset "UTF-8";

section#conteudo {
    width: 95%;
    margin: auto;

    display: flex;
    justify-content: center;
}

iframe#frame-spec {
    width: 500px;
    height: 280px;

    border: none;
    overflow: hidden;
}

iframe#frame-spec ::-webkit-scrollbar {
    display: none;
}