@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div#interface {
    width: 100vw;
}

div.main-container {
    width: 80vw;
}

header {
    width: 80vw;
}

header nav > span.material-icons {
    display: none;
}

nav > ul > li {
    background-color: #dddddd;

    display: inline-block;
    list-style-type: none;

    padding: 7px;
}

nav > ul > li:hover {
    background-color: #606060;
    color: white;
    
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

header figure {
    position: absolute;
    right: 14%;
}

div.main-container {
    width: 80vw;
    margin: auto;

    box-shadow: 0px 0px 5px black;
}

main {
    background-color: #dddddd;
    
    width: 80vw;
    margin: auto;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;

    border: none;
}

div#main-reading {
    width: 60%;

    padding: 10px 20px;

    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    border-right: 1px solid #606060;
}

div#main-reading-spec {
    width: 80vw;
}

div#aside-box {
    width: 40%;

    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

aside {
    width: 95%;
    height: auto;

    margin: 20px;
}

div.video {
    width: 100%;
}