@charset "UTF-8";


/* Formatação gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-size: 1em;
}

/* Formatações de página */
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: lightgray;

    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

/* Formatações de textos */
h1 {
    font-size: 1.7em;

}

h2 {
    font-size: 1.3em;
}

.bg-gray-text {
    background-color: rgb(197, 197, 197);
    color: rgb(86, 86, 86);

    padding: 5px; 
    
    margin-top: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 15px;

    text-align: justify;
    text-indent: 30px;
}

span.bold {
    font-weight: bold;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Formatações de caixas */
div#interface {
    width: 100vw;
}

header {
    background-color: white;

    display: flex;
    justify-content: space-between;

    width: 100vw;
    margin: auto;
    padding: 20px;

    border-bottom: 2px solid black;
}

header a {
    color: black;
    font-weight: bolder;
    text-decoration: none;

    padding: 7px 9px;
}

nav > ul > li {
    background-color: gray;

    display: none;
    list-style-type: none;

    padding: 7px;
    cursor: pointer;
}

nav > ul > li:hover {
    background-color: #606060;
    color: white;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

header img {
    float: right;
}

nav > ul > li {
    display: none;

    list-style-type: none;
}

main {
    background-color: white;

    width: 100vw;
    margin: auto;
    padding: 20px;
}

main a:hover {
    text-decoration: underline;
}

div.table {
    min-width: 100%;
    min-height: 160px;
    margin: auto;

    position: relative;
}

table {
    border-collapse: collapse;
    width: 80%;

    position: absolute;
    top: 5%;
    left: 10%;
}

table > caption {
    display: none;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

div.video {
    background-color: blue;
    width: 100vw;
    margin: 25px -30px;
    padding-bottom: 59%;

    position: relative;
    margin: 25px 20px 25px -20px;
}

div.video > video {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;

    width: 90%;
    height: 90%;
}

aside {
    background-color: rgb(192, 192, 192);

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside > section.aside-section {
    width: 95%;
}

section.aside-section h1 {
    background-color: rgb(58, 58, 58);
    color: white;
    
    font-size: 1.3em;

    padding: 5px 0px 5px 15px;
    margin: 5px 0px;
}

aside > div#aside-video {
    display: flex;
    justify-content: center;
    background-color: black;

    position: relative;
    width: 100%;

    padding-bottom: 59%;
    margin: 10px;
}

div#aside-video > video {
    width: 100%;
}

/* Formatações de mídia */
figure.foto-legenda {
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

    position: relative;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    opacity: 0;
    transition: .5s;

    width: 100%;
    height: 99%;
    padding: 10px;

    position: absolute;
    top: 0;
}

figure.foto-legenda figcaption:hover {
    opacity: 100%;
}

/* Formatação de cabeçalho */
footer {
    background-color: black;
    color: white;

    width: 100vw;

    padding: 10px;
}

footer p {
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}