@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header > ul > li {
    background-color: gray;
    color: white;

    display: inline-block;
    list-style-type: none;

    padding: 7px;
}

header > span.material-icons {
    display: none;
}