@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Formatação gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-size: 1em;
}

/* Formatações de página */
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #dddddd;

    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

/* Formatações de textos */
header div.hgroup > h1 {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 35px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

header div.hgroup > h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #888888;
}

h1 {
    font-size: 1.7em;

}

h2 {
    font-size: 1.3em;
}

.bg-gray-text {
    background-color: rgb(197, 197, 197);
    color: rgb(86, 86, 86);

    padding: 5px; 
    
    margin-top: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 15px;

    text-align: justify;
    text-indent: 30px;
}

span.bold {
    font-weight: bold;
}

main a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Formatações de caixas */
div#interface {
    width: 100vw;
}

div.main-container {
    background-color: rgb(225, 225, 225);

    width: 100vw;

    box-shadow: 1px 1px 4px black;
}

header {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 150px;
    margin: auto;
    padding: 20px;

    background: url('../../../../../../Trabalhos Design/Designs prontos/Lucsas/Profile/Lucsas image for web.png') no-repeat 15px bottom ;
}

header a {
    color: black;
    font-weight: bolder;
    text-decoration: none;

    padding: 7px 9px;
}

header a:hover {
    color: white;

    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

nav > ul > li {
    background-color: #dddddd;

    display: none;
    list-style-type: none;

    padding: 7px;
    cursor: pointer;
}

nav > ul > li:hover {
    background-color: #606060;

    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

nav > ul > li {
    display: none;

    list-style-type: none;
}

header figure {
    position: absolute;

    top: 13%;
    right: 5%;
}

main {
    width: 100vw;
    margin: auto;
    padding: 20px;

    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

main a:hover {
    text-decoration: underline;
}

div.table {
    width: 100%;
    min-height: 220px;
    margin: auto;

    position: relative;
}

table {
    border-collapse: collapse;
    width: 80%;

    position: absolute;
    top: 5%;
    left: 10%;
}

table > caption {
    color: #606060;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

    padding: 2px;
}

td {
    border: 2px solid #606060;
    padding: 5px;
    background-color: #dddddd;
}

td.header-lateral {
    background-color: #606060;
    color: white;
    font-weight: bold;

    text-align: right;
    vertical-align: top;
}

div.video {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-bottom: 59%;
    position: relative;
}

div.video > video {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}

aside {
    background-color: rgb(192, 192, 192);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.615);
}

aside > section.aside-section {
    width: 95%;
}

section.aside-section h1 {
    background-color: rgb(58, 58, 58);
    color: white;
    
    font-size: 1.3em;

    padding: 5px 0px 5px 15px;
    margin: 5px 0px;
}

aside > div#aside-video {
    display: flex;
    justify-content: center;
    background-color: black;

    position: relative;
    width: 100%;

    padding-bottom: 59%;
    margin: 10px;
}

div#aside-video > video {
    width: 100%;
}

/* Formatações de mídia */
figure.foto-legenda {
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

    position: relative;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    opacity: 0;
    transition: .5s;

    width: 100%;
    height: 99%;
    padding: 10px;

    position: absolute;
    top: 0;
}

figure.foto-legenda figcaption:hover {
    opacity: 100%;
}

/* Formatação de cabeçalho */
footer {
    background-color: black;
    color: white;

    width: 100vw;

    padding: 10px;
}

footer p {
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}