@charset "UTF-8";

:root {
    --fonte-base: font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

/* Formatação gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-size: 1em;
}

/* Formatações de página */
::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Formatações de textos */
header#page-header div.hgroup > h1 {
    font-size: 35px;
    color: #393939;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

main div.hgroup > h1 {
    font-size: 35px;
    color: #393939;

    margin-top: 0px;
    margin-bottom: 3px;
}

header#page-header div.hgroup > h2 {
    font-size: 20px;
    color: #393939;
}

div.hgroup > p {
    font-size: 15px;
    color: #393939;
    margin-bottom: 3px;

    display: inline-block;
}

div.hgroup p#up-data {
    float: right;
}

h1 {
    font-size: 1.7em;
}

h2.bg-gray-text {
    background-color: rgb(197, 197, 197);
    color: rgb(86, 86, 86);

    font-size: 1.3em;
    padding: 8px; 
    margin-top: 5px;

    border-radius: 8px;
}

p {
    margin-top: 10px;
    margin-bottom: 15px;

    text-align: justify;
    text-indent: 30px;
}

span.bold {
    font-weight: bold;
}

main a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Formatações de caixas */
div#interface {
    width: 100vw;
}

header#page-header {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 170px;
    padding: 20px;
    padding-bottom: 30px;

    background: url('../imagens/glass-logo-peq.jpg') 15px 95% no-repeat;

    border-bottom: 1px solid #606060;
}

header#page-header a {
    color: black;
    font-weight: bolder;
    text-decoration: none;

    padding: 7px 9px;
}

header#page-header a:hover {
    color: white;

    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

nav > ul > li {
    background-color: #dddddd;

    display: none;
    list-style-type: none;

    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

nav > ul > li:hover {
    background-color: #606060;

    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

nav > ul > li {
    display: none;

    list-style-type: none;
}

header#page-header figure {
    position: absolute;

    top: 13%;
    right: 4%;
}

main {
    color: #404040;
    width: 100vw;
    padding: 20px;
    line-height: 1.7em;
}

main a:hover {
    text-decoration: underline;
}

div.table {
    width: 100%;
    height: 360px;
    margin: auto;

    position: relative;
}

table {
    border-collapse: collapse;
    width: 80%;

    position: absolute;
    top: 5%;
    left: 10%;
}

table > caption {
    color: #606060;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

    padding: 2px;
}


table > caption > span {
    float: right;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;

    text-shadow: none;
}

td {
    border: 2px solid #606060;
    padding: 5px;
    background-color: #fff;
}

td.header-lateral {
    background-color: #606060;
    color: white;
    font-weight: bold;

    text-align: right;
    vertical-align: top;
}

div.video {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-bottom: 59%;
    position: relative;
}

div.video > video {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}

aside {
    background-color: rgb(192, 192, 192);
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.615);
}

aside > section.aside-section {
    width: 95%;
}

aside h1 {
    font-family: 'Bubblegum Sans', sans-serif;

    color: #393939;
    font-size: 2em;

    margin: 25px 0px;
}

section.aside-section h2 {
    background-color: rgb(58, 58, 58);
    color: white;
    
    font-size: 1.3em;

    padding: 10px 0px 10px 15px;
    margin: 5px 0px 0px 0px;
    border-radius: 3px 20px;
}

section.aside-section h2#video-h {
    border-radius: 20px 20px 0px 0px;
}

aside > div#aside-video {
    display: flex;
    justify-content: center;
    background-color: black;

    position: relative;
    width: 100%;

    padding-bottom: 59%;
    margin: 10px;
}

div#aside-video > video {
    width: 100%;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

div#aside-box div#author-area {
    display: none;
}

div#aside-box img.socials-img {
    margin-right: 10px;
    margin-top: 10px;

    display: block;
    width: 40px;
}

div#aside-box img.socials-img:hover {
    opacity: .7;
} 

/* Formatações de mídia */
figure.foto-legenda figcaption p {
    color: #232323;

    font-size: 0.83em;
    text-indent: 0;

    margin-top: -7px;
    margin-bottom: 15px;
}

/* Formatação de rodapé */
footer {
    background-color: black;
    color: white;

    width: 100vw;
    height: 80px;

    padding: 10px;
}

footer p {
    text-align: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}