@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div#interface {
    width: 80vw;
    margin: auto;

    box-shadow: 0px 0px 5px black;
}

header {
    width: 80vw;
}

header > ul > li {
    background-color: gray;
    color: white;

    display: inline-block;
    list-style-type: none;

    padding: 7px;
}

header > span.material-icons {
    display: none;
}

main {
    background-color: white;

    width: 80vw;
    margin: auto;
    padding: 20px;

    display: flex;
}

div#main-reading {
    width: 60%;

    padding: 10px 20px;

    border-top: 1px solid black;
    border-right: 1px solid black;
}

div#aside-box {
    width: 40%;

    border-top: 1px solid black;
}

aside {
    width: 95%;
    height: auto;

    margin: 20px;
}

div.video {
    width: 100%;
}