@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div#interface {
    width: 100vw;
}

div.main-container {
    width: 80vw;
}

header#page-header {
    width: 80vw;
}

header#page-header nav > span.material-icons {
    display: none;
}

nav > ul > li {
    background-color: #fff;

    display: inline-block;
    list-style-type: none;

    padding: 7px;
}

nav > ul > li:hover {
    background-color: #606060;
    color: white;
    
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

header#page-header figure {
    position: absolute;
    top: 9%;
    right: 14%;
}

div.main-container {
    width: 80vw;
    margin: auto;
}

main {
    background-color: #fff;
    
    width: 80vw;
    margin: auto;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;

    border: none;
}

div#main-reading {
    width: 60%;

    padding: 10px 20px;
}

div#main-reading-spec {
    width: 80vw;
}

div.table {
    height: 310px;
}

div#aside-box {
    width: 40%;
}

div#aside-box div#author-area {
    display: flex;
    justify-content: space-evenly;
}

div#aside-box img.socials-img {
    margin-right: 10px;
    margin-top: 10px;

    display: block;
    width: 40px;
}

div#aside-box img.socials-img:hover {
    opacity: .7;
} 

aside {
    width: 95%;
    height: auto;

    margin: 20px;
}

div.video {
    width: 100%;
}