@charset "UTF-8";

:root {

}

* {
    margin: 0;
    padding: 0;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

section#celular {
    width: 311px;
    height: 627px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') center center no-repeat fixed;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;

    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);

    transition: transform .3s;
}

img#home:hover {
    border: 2px solid rgba(255, 255, 255, 0.673);

    transition: border .3s;
}

img#red:hover {
    border: 2px solid rgb(255, 102, 102);

    transition: border .3s;
}

img#green:hover {
    border: 2px solid lightgreen;

    transition: border .3s;
}

img#purple:hover {
    border: 2px solid rgb(255, 186, 255);
}

img#light-blue:hover {
    border: 2px solid rgb(222, 247, 255);

    transition: border .3s;
}

img#blue:hover {
    border: 2px solid rgb(165, 165, 255);

    transition: border .3s;
}