@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;

    padding: 10px;
}