@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-principal: Arial, Verdana, Helvetica, sans-serif;
}

body {
    margin: 0 !important;
    font-family: var(--fonte-principal);
}

header {
    background-color: black;
    color: white;

    padding: 20px;

    text-align: center;
}

header > h1 {
    font-family: 'Passion One',Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10vw;
    font-variant: small-caps;

    padding: 50px 0 2px 0;
    margin: 7px;
}

header > p {
    padding-bottom: 50px;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

main p {
    padding: 10px;
    font-size: 3.5vw;
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
}

section {
    padding: 10vh 0 10vh 30px;
}

section.branco {
    padding: 10px;
}

section.branco p {
    padding-left: 40px;
}

section#flor {
    background: black url('../Imagens/background001.jpg') right center fixed;
    background-size: cover;
    margin: 0;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.463);
}

section#flor p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;

    display: inline-block;
    margin: 20px;

    margin: 0 15px;
    
    text-shadow: 1px 1px 0px black;
}

section#paginas {
    background: black url('../Imagens/background002.jpg') right center fixed;
    background-size: cover;
    margin: 0;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.463);
}

section#paginas > p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;

    display: inline-block;
    margin: 20px;

    margin: 0 15px;

    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;

    padding: 10px; 

    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}