@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --sombra: rgba(0, 0, 0, 0.49);

    --fonte-principal: Arial, Verdana, Helvetica, sans-serif;
    --paragrafos: ;
}

body {
    margin: 0 !important;
    font-family: var(--fonte-principal);
}

header {
    background-color: black;
    color: white;

    padding: 20px;

    text-align: center;
}

header > h1 {
    font-family: 'Passion One',Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 6em;

    padding: 40px 0 2px 0;
    margin: 7px;
}

header > p {
    padding-bottom: 40px;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main p {
    padding: 10px;
    font-size: 25px;
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
}

section {
    margin: 0;
}

section.branco {
    box-shadow: 9px 0px 9px var(--sombra);

    padding: 10px;
}

#flor {
    background: black url('../Imagens/background001.jpg') center center fixed;
    background-size: cover;

    height: 700px;
    margin: 0;

    position: relative;
}

#flor p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;

    width: 300px;
    margin: 20px;

    margin: 0 15px;
}

#paginas {
    background: black url('../Imagens/background002.jpg') center center fixed;
    background-size: cover;

    height: 700px;
    margin: 0;
}

#paginas > p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;

    width: 300px;
    margin: 20px;

    margin: 0 15px;
}

footer {
    background-color: black;
    color: white;

    padding: 10px; 

    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}