@charset "UTF-8";

@import url('');

:root {
    --sombra: rgba(0, 0, 0, 0.49);

    --fonte-principal: Arial, Verdana, Helvetica, sans-serif;
    --paragrafos: ;
}

body {
    margin: 0 !important;
    font-family: var(--fonte-principal);
}

header {
    background-color: black;
    color: white;

    padding: 20px;

    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

p {
    padding: 5px
}

.branco {
    box-shadow: 9px 0px 9px var(--sombra);
}

#flor {
    background: black url('../Imagens/background001.jpg') center center fixed;
    background-size: cover;

    height: 500px;
    position: relative;
}

#flor p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;

    width: 300px;
    margin: 20px;
    position: absolute;
    top: 50%;

    transform: translate(0%, 50%);
}

#paginas {
    background: black url('../Imagens/background002.jpg') center center fixed;
    background-size: cover;

    height: 500px;
    position: relative;
}

#paginas > p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;

    width: 300px;
    margin: 20px;
    position: absolute;
    top: 50%;

    transform: translate(0%, 50%);
}

footer {
    background-color: black;
    color: white;

    padding: 10px; 

    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}